*{
    margin: 0px;
    padding: 0px;
}

html{
    height: 100%;
}
body{
    height: 100%;
    border: 1px solid #FFF;
    box-sizing: border-box;
}

#mapBox {
    position: relative;
    width: 99%;
    height: 98%;
    border: 1px solid #ccc;
    margin: 5px auto;
    border-radius: 3px;
    background-color: #eee;
}

.buttonCOntent {
    position: absolute;
    z-index: 10;
    top: 20px;
    left: 100px;
    background-color: #ab9f676e;
    padding: 3px 7px;
    height: 25px;
}

.zoom-container{
    position: absolute;
    left: 35px;
    top: 100px;
}

.ol-zoom .ol-zoom-in {
    width: 30px;
    height: 30px;
    font-size: 28px;
    background-color: white;
    border: 1px solid #999;
    cursor: pointer;
    color: #666;
    box-shadow: 0px 0px 8px #5a5656;
}

.ol-zoom .ol-zoom-out {
    display: block;
    overflow: hidden;
    width: 30px;
    height: 30px;
    font-size: 28px;
    background-color: white;
    border: 1px solid #999;
    cursor: pointer;
    color: #666;
    box-shadow: 0px 0px 8px #5a5656;
}

.zoom-container .decrmap-level {
    width: 27px;
    height: 27px;
    font-size: 15px;
    background-color: white;
    border: 1px solid #999;
    cursor: pointer;
    border-radius: 32px;
    margin-bottom: 5px;
    text-align: center;
    padding-top: 3px;
    margin-left: 2px;
    box-sizing: border-box;
    color: #333;
    box-shadow: 0px 0px 8px #5a5656;
}

.scaleLine-container {
    position: absolute;
    bottom: 20px;
    border-bottom: 1px solid #000;
    text-align: center;
    left: 17px;
    border-left: 1px solid #999;
    height: 9px;
    border-right: 1px solid #999;
    font-size: 13px;
    color: #333;
}

.scaleLine-container .ol-scale-line{
    margin-top: -12px;
}

.mousePosition-container {
    position: absolute;
    bottom: 20px;
    font-size: 13px;
    color: #333;
    right: 244px;
}

.mousePosition-container .ol-mouse-position{
    background-color: rgba(255,255,255,0.7);
    border-radius: 3px;
    padding: 0px 5px;
}

.overviewmap-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #f9f8f8;
    border: 1px solid #999;
    border-radius: 4px 0 0 4px;
}
.overviewmap-container button{
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: white;
    width: 19px;
    height: 18px;
    border: 1px solid #ccc;
    font-size: 12px;
}

.overviewmap-container .ol-overviewmap-map{
    width: 220px;
    height: 160px;
    box-shadow: 0px 0px 10px #999;
}

.overviewmap-container .ol-collapsed .ol-overviewmap-map {
    display: none;
}

.sliderContainer {
    width: 190px;
    z-index: 1000;
    margin-left: 142px;
    display: none;
}

.sliderContainer .ui-slider-horizontal {
    height: 1px;
    margin: 7px;
    width: 70%;
    display: inline-block;
}

.sliderContainer input {
    width: 15%;
}

.sliderContainer .ui-slider .ui-slider-handle{
    width: 10px;
    margin-top: 2px;
    height: 13px;
}

.redContainer .ui-slider-horizontal{
    padding: 2px 4px;
    background-color: red;
}

.greenContainer .ui-slider-horizontal{
    padding: 2px 4px;
    background-color: green;
}

.blueContainer .ui-slider-horizontal{
    padding: 2px 4px;
    background-color: blue;
}

.commonColor {
    padding: 4px;
    background-color: #e1dcc5;
}

.commonColor span{
    margin: 3px 4px;
    background-color: white;
    opacity: 0.8;
    font-size: 14px;
    padding: 1px 4px;
    cursor: pointer;
    border-radius: 3px;
    display: inline-block;
}


/* new */

.menuOuter{
    width: 400;
    overflow: hidden;
    position: absolute;
    z-index: 10;
    height: 90%;
    background-color: rgba(53, 144, 156, 0.94);
    top: 5%;
    left: 12px;
    border-radius: 4px;
    box-shadow: 0px 0px 14px #1F6B75;
    font-size: 14px;
}

.staticDiv{
    height: 100%;
}

.menu{
    overflow-x: hidden;
    width: 395px;
    margin: auto;
}

.menu li{
    margin: 10px 0;
}

.rightButton{
    width: 0;
    height: 0;
    border-width: 13px 0 16px 11px;
    border-style: solid;
    border-color: transparent transparent transparent #90e2c8;
    
}

.trapezoid {
    width: 0px;
    height: 59px;
    box-sizing: border-box;
    border: 12px solid transparent;
    border-right: 15px solid transparent;
    border-left: 11px solid #4a7a7d;
    position: absolute;
    z-index: 10;
    top: 42%;
    left: 408px;
}

.ui-accordion-header{
    border: 1px solid #1F6B75;
    background: #1F6B75;
    color: white;
}

.ui-accordion-header, .ui-state-hover{
    background: #1F6B75;
}

.typeName{
    display: inline-block;
    width: 22%;
    vertical-align: top;
    text-align: right;
    margin-top: 4px;
    font-weight: 600;
    color: #2d2a2a;
}

.typeOption{
    display: inline-block;
    width: 76%;
}

.ui-accordion .ui-accordion-content{ 
    background: none;
    border: 0 solid #10adc1;
    font-size: 14px;
    padding: 8px;
    color: #eee;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Noto Sans CJK SC,WenQuanYi Micro Hei,Arial,sans-serif;
}

.button{
    padding: 4px 6px;
    border: 1px solid #a2e2ea;
    border-radius: 3px;
    background-color: #2d97a5;
    margin: 2px 5px;
    display: inline-block;
    text-align: center;
    width: 56px;
    cursor: pointer;
}

.longButton{
    width: auto;
}

.button:hover{
    background-color: #1F6B75;
}

.menu > div{
    overflow-y: auto;
    height: 0;
    padding-left: 12px;
}
.menu>div::-webkit-scrollbar {
    width: 10px;
    height: 1px;
}

.menu>div::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #1f6b75;
}

.menu>div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #4197a1;
}

.menu h3{
    line-height: 35px;
    background: #1F6B75;
    color: white;
    border: 1px solid #72a6ad;
    border-radius: 4px;
    padding-left: 13px;
    cursor: pointer;
    font-size: 15px;
}